<section class="TodoSection">
  <div class="TodoSection-title">
    <p class="TodoSection-title-text"><%= section_title %></p>
    <p class="TodoSection-title-remainCount"><%= todos.completed.count %>/<%= todos.count %></p>
  </div>
  <ul>
    <% todos.each do |todo| %>
      <li class="TodoItem">

        <%= form_with url: "/todos/#{todo.id}", method: :put do |form| %>
          <input type="checkbox" class="TodoItem-checkbox" name="completed" <%= todo.completed ? "checked":"" %> onClick="this.form.submit()">
        <% end %>

        <p class="<%= todo.completed ? 'line-through':'' %>"><%= todo.todo_text %></p>
        <% if show_due_date %>
          <p class="TodoItem-date"><%= todo.due_date.to_s(:short) %></p>
        <% end %>
        <a class="TodoItem-delete" href="javascript:void(0)">
          <img src="images/trash-can-outline.svg" alt="Delete" class="TodoItem-deleteSVG">
        </a>
      </li>
    <% end %>
  </ul>
</section>
