<main class="TodoApp">
  <article>
    <h1 class="TodoApp--title">My Todo-list</h1>

    <%= form_with class: "AddTodo", url: "/todos", method: :post do |form| %>
      <%= form.text_field :todo_text, class: "AddTodo-text", placeholder: "What's next?" %>
      <%= form.date_field :due_date, class: "AddTodo-date" %>
      <%= form.submit "Add", class: "AddTodo-btn" %>
    <% end %>

    <%= render partial: "todo-section", locals: {
      section_title: "Overdue",
      todos: Todo.overdue,
      show_due_date: true
    } %>
    <%= render partial: "todo-section", locals: {
      section_title: "Due Today",
      todos: Todo.due_today,
      show_due_date: false
    } %>
    <%= render partial: "todo-section", locals: {
      section_title: "Due Later",
      todos: Todo.due_later,
      show_due_date: true
    } %>

  </article>
</main>
